.container {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 1000;
  border-radius: 8px;
  background-color: rgba(white, 0.9);
  padding: 1rem;
  max-width: 200px;
}

.label {
  margin-bottom: 0.5rem;
}

.activeOption {
  background-color: rgba(40, 191, 98, 0.3) !important;
}