.container {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  background-color: rgba(white, 0.9);
  padding: 1rem 3rem 3rem 3rem;
  width: 400px;
}
