body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.leaflet-popup-content {
  width: auto !important;
  min-width: 0;
}

.app-root {
  position: relative;
}

.MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.MuiOutlinedInput-root:focus .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}

.MuiCircularProgress-colorPrimary {
  color: rgba(255, 255, 255, 0.6);
}
